xiandai/
images/
xiandai7.txt
xiandai7.mdd
xiandai7.mdx

venv/
venvs/
.venv/
.venvs/

*.log
*.bak
*.tmp

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
